<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <hr>

    <header style="border-bottom: 1px solid #aaa; margin-bottom: 10px; padding-bottom: 10px;">
            <nav>
                <a href="/professor">홈</a> | 
                <a href="/pro_courses">전체강의목록</a> |  
                <a href="/pro_mycourses">내강의목록</a>
            </nav>
    </header>

    <hr>